# Application Environment
NODE_ENV=development
PORT=5000
CORS_ORIGIN=http://localhost:5173

# Database Connection (PostgreSQL)
DB_URL="postgresql://postgres:postgres@localhost:5432/odoo_hackathon_2026?schema=public"

# Authentication
JWT_SECRET=super_secret_jwt_key_for_hackathon_development_only
JWT_EXPIRES_IN=7d
